<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>To-Do List with AI Integration</title>
</head>
<body>
    <main>
        <div class="main-homescreen">
            <section class="homescreen-header">
                <h1>My To-Do</h1>
                <div class="all-tasks-button activable">
                    <span class="material-symbols-outlined">
                        apps
                    </span>
                    <p>All Tasks</p>
                </div>
            </section>

            <section class="main-section-container">
                <section class="main-section today-section">
                    <div class="main-card-header today-header">
                        <h2>Today</h2>
                        <span>March 4th</span>
                    </div>
    
                    <div class="today-tasks">
                        <div class="task">
                            <div class="complete-round-checkbox">
                                <div class="filling">
                                    <img crossorigin="anonymous" referrerpolicy="no-referrer" src="https://static.vecteezy.com/system/resources/thumbnails/021/815/666/small/single-icon-of-checklist-free-png.png" alt="">
                                </div>
                            </div>
                            <div class="task-info">
                                <div class="task-description">
                                    <h4>Meeting</h4>
                                    <span>14:00 - 17:00</span>
                                </div>
                                <div class="task-options">
                                    <span id="task-options-button" class="material-symbols-outlined">
                                        more_vert
                                    </span>
                                    <div class="task-options-dropdown">
                                        <span id="delete-task-button" class="task-option activable">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                            Delete Task
                                        </span>
                                        <span id="edit-task-button" class="task-option activable">
                                            <span class="material-symbols-outlined">
                                                edit
                                            </span>
                                            Edit Task
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="today-help-offer">
                        <button href="#">Need help? Try AI assistance</button>
                    </div>
                </section>
    
                <section class="main-section calendar-section">
                    <div class="main-card-header calendar-header">
                        <h2>Calendar</h2>
                    </div>
    
                    <div class="calendar-container">
                        <div class="calendar-month">
                            <button id="calendar-month-previous" class="calendar-button forbidden">
                                <span class="material-symbols-outlined">
                                    arrow_back_ios_new
                                </span>
                            </button>
                            
                            <div id="calendar-month-current" class="calendar-month-current">
                                <span></span>
                            </div>
    
                            <button id="calendar-month-next"  class="calendar-button">
                                <span class="material-symbols-outlined">
                                    arrow_forward_ios
                                </span>
                            </button>
                        </div>
                        <div class="main-calendar" id="main-calendar">
                            <div class="calendar-weekdays">
                                <span class="calendar-weekday">Sun</span>
                                <span class="calendar-weekday">Mon</span>
                                <span class="calendar-weekday">Tue</span>
                                <span class="calendar-weekday">Wed</span>
                                <span class="calendar-weekday">Thu</span>
                                <span class="calendar-weekday">Fri</span>
                                <span class="calendar-weekday">Sat</span>
                            </div>
                            <div id="calendar-days" class="calendar-days">
                            </div>
                        </div>
                    </div>

                    <div class="calendar-day-tasks"></div>
                </section>
            </section>

            <div class="floating-add-button">
                <button>Add To Do</button>
            </div>
        </div>

        <div class="add-task-overlay main-overlay">
            <div class="add-task-popup main-popup">
                <span class="material-symbols-outlined close-popup close-add-task">
                    close
                </span>
                <h3>Add Task</h3>
                <form class="add-task-form">
                    <div class="add-task-field-holder">
                        <div class="add-task-field">
                            <label class="required" for="task-name-input">Name</label>
                            <input placeholder="Water plants" type="text" id="task-name-input" name="task-name-input">
                        </div>
                    </div>
                    <div class="add-task-field-holder double">
                        <div class="add-task-field">
                            <label for="task-start-input-hour">Start</label>
                            <input class="time-input" type="number" placeholder="15" name="task-start-input-hour" id="task-start-input-hour" min="0">
                        </div>
                        <span class="time-input-divider">:</span>
                        <div class="add-task-field">
                            <label style="border-left: none;" for="task-start-input-minute">&nbsp;</label>
                            <input class="time-input" type="number" placeholder="45" name="task-start-input-minute" id="task-start-input-minute" min="0">
                        </div>
                    </div>
                    <div class="add-task-field-holder double">
                        <div class="add-task-field">
                            <label for="task-end-input-hour">End</label>
                            <input class="time-input" type="number" placeholder="17" name="task-end-input-hour" id="task-end-input-hour" min="0">
                        </div>
                        <span class="time-input-divider">:</span>
                        <div class="add-task-field">
                            <label style="border-left: none;" for="task-end-input-minute">&nbsp;</label>
                            <input class="time-input" type="number" placeholder="00" name="task-end-input-minute" id="task-end-input-minute" min="0">
                        </div>
                    </div>
                    <div class="add-task-field-holder">
                        <div class="add-task-field">
                            <label class="required" for="task-repeat-input">Repeat</label>
                            <select name="task-repeat-input" id="task-repeat-input">
                                <option value="never" selected>Never</option>
                                <option value="everyday">Everyday</option>
                                <option value="weekdays">Weekdays</option>
                                <option value="weekends">Weekends</option>
                            </select>
                        </div>
                    </div>
                    <input id="add-task-submit" type="submit" value="Create task">
                </form>
            </div>
        </div>

        <div class="ai-assist-overlay main-overlay">
            <div class="ai-assist-popup main-popup">
                <span class="material-symbols-outlined close-popup close-ai">
                    close
                </span>
                <h3>Boost your productivity with <strong>AI.</strong> Prepare your day.</h3>
                <div class="ai-description">
                    <span class="material-symbols-outlined close-ai">
                        fact_check
                    </span>
                    <p>Let the AI organize your activities and suggest courses of action, with just a few clicks.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>